body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    position: relative;
}

header {
    background-color: #364552;
    color: #fff;
    padding: 10px 0;
    text-align: left;
    position: relative;
    height: 60px;
}

.si{
    text-align: center;
}

.inicio{
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    position: relative;
    background-color: #364552;
    color: #fff;
    padding: 10px 0;
    text-align: left;
    position: relative;
    font-size: 32px;
}

.header h1, .inicio {
    margin: 0;
    padding-left: 20px;
}
.barraMenu {
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    align-items: center;
}

.blog {
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    position: relative;
    background-color: #364552;
    color: #fff;
    position: relative;
    font-size: 16px;
}
.blog{
    transition: color 0.5s ease;
    color: white;
    text-decoration: none;
}

.blog:hover{
    background-color: cornflowerblue;
    border-radius: 20px;
}

.contenedor {
    width: 80%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: 0 auto;
}

section article {
    flex: 0 0 calc(50% - 1rem); 
    transition: all 0.5s ease;
    background-color: #F8EF8A;
    margin: 1rem 0;
    border-radius: 1rem;
    padding: 0.25rem 0;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    max-width: 400px;
    max-height: auto;
    margin: 50px;
}

.texto {
    text-align: justify;
}

section article:hover {
    box-shadow: 0 0.1rem 0.7rem rgba(0,0,0,0.9);
}

section article h2, section article p {
    margin: 1rem;
}

.art{
    display: block;
    margin: 0 auto;
    max-width: 95%;
    border-radius: 10px;
}

footer {
    background-color: #364552;
    padding: 3rem;
    color: white;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.5s ease;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}

.cont {
    position: relative;
    width: 80%;
    margin: 50px auto;
    background-color: #FFF; 
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.foto {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: -50px auto 20px;
}

.contenido {
    padding-top: 20px; 
}

.contenedor-articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.contenedor-articulos article {
    flex: 0 0 calc(30% - 20px); 
    margin: 10px; 
    padding: 5px; 
    text-align: center;
    background-color: #F8EF8A;
    border-radius: 10px;
}


.imagen {
    width: 100%;
    height: auto;
    border-radius: 10px;
    min-height: 80px;
    max-width: 95%;
}

h1 {
    text-align: center;
}

h3 {
    color: #1a1a66;
}

.contenedor-imagenes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.presentacion {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

.presentacion .info h2 {
    margin-bottom: 10px;
}

.presentacion .info p {
    margin: 5px 0;
    font-size: 18px;
}

.presentacion .info p strong {
    color: #333;
}

